@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  min-height: 100vh;
  min-width: 100vw;
  padding: 20px;
  overflow-x: hidden; 
}

/* Heading styles */
h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Loading skeleton */
.loading-skeleton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-box {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  margin-right: 5px;
}

/* Input styles */
input {
  margin: 0.5rem;
  height: 40px;
  width: 40px;
  text-align: center;
}

/* Button styles */
button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}

/* Media query for screens up to 460px */
@media (max-width: 460px) {
  .App {
    padding: 10px;
  }

  .buttons {
    display: block;
  }

  h1 {
    font-size: 1.5rem;
  }

  .loading-box {
    width: 15px;
    height: 15px;
  }

  input {
    height: 35px;
    width: 35px;
  }

  button {
    padding: 0.4rem 0.8rem;
  }
}
